<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GCD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCED7BBB1C24F620006D64CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCED7BD71C24F620006D64CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCED7BE21C24F621006D64CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
