<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>咖啡.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCA5EB361C4DE6AC00CAD900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCA5EB4F1C4DE6AC00CAD900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCA5EB5A1C4DE6AC00CAD900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
